.cards{
padding-top: 20px;
border-bottom: 1px rgba(33, 33, 33,0.4)solid;
}
.cards__list{
padding: 0;
margin: 0;
list-style-type: none;
display:grid;
grid-template-columns: repeat(auto-fit,413px);
justify-content: center;
gap: 40px 20px;
}
.card__title{
font-family: Poppins,Arial, Helvetica, sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 120%;
letter-spacing: 0%;
}
.card__image{
width: 413px;
height: 413px;
opacity: 1;
}

@media screen and (max-width:627px) {
 .cards__list{
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
