.card{
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  opacity: 100%;
  display: block;
  border-radius: 10px;
}
.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.card__like-btn {
  background-image: url(../images/spots-images/heart.svg);
  cursor: pointer;
  opacity: 0.4;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active{
  background-image: url(../images/spots-images/heart-active-icon.svg);
  opacity: 1;
}

.card__like-btn_active:hover{
  opacity: 50%;
}

.card__delete-btn{
background-image: url(../images/spots-images/delete-icon-default.svg);
height: 32px;
width: 32px;
top: 10px;
right: 10px;
border: none;
background-color: transparent;
position: absolute;
}

.card__delete-btn:hover{
  background-image: url(../images/spots-images/delete-icon-hover.svg);
}



@media screen and (max-width: 627px) {
  .card__image {
    max-height: 288px;
    max-width: 288px;
  }
  .card__title{
    max-width: 250px;
  }
}
