.footer{
text-align: center;
}
.footer__copyright{
  align-items: center;
  font-family: poppins,Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  padding: 60px 0;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 0.7;
  margin: 0;
}

