.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #00000080;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear, visibility 1s linear;
}

.modal_type_preview{
  padding: 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(3px);
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  color: #212121;
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #21212166;
  box-sizing: border-box;
  margin: 8px 0 0;
  padding: 12px 16px;
  color: #212121b2;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__close-btn {
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 1;
  position: absolute;
  background-image: url(../images/spots-images/profile-x-button.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  color: #fff;
  background-image: url(../images/spots-images/modal-preview-close.svg);
  border-radius: 2px;
  opacity: 1;
  top: 0;
  right: -52.5px;
  padding: 0;
  max-width: 40px;
  max-height: 40px;
  background-size: contain;
}

.modal__close-btn_type_preview:hover {
  opacity: .4;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #212121;
  color: #fcf5e5;
  outline: none;
  border: none;
  opacity: 1;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__image {
  max-height: 80vh;
  max-width: 80vw;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
}

.modal__caption {
  font-size: 20px;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
}


@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__caption{
    font-size: 16px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__label {
    font-weight: 500;
  }
  .modal__input {
    box-sizing: border-box;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
  }
  .modal__submit-btn {
    position: absolute;
    top: 18px;
    right: 12px;
    margin: 0;
    max-width: none;
    width: 100%;
  }

  .modal__close-btn {
    top: 18px;
    right: 12px;
  }
}
@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image{
    max-width: unset;

  }
}