.profile {
  display: flex;
  gap: 12px;
  padding: 34px 0 20px;
  font-weight: 500;
  font-style: normal;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  
}
.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__description {
  margin: 0;
  opacity: 0.7;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 16px;
}
.profile__plus {
  gap: 8px;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
.profile__edit-btn {
  cursor: pointer;
  display: block;
  margin-top: auto;
  width: 107.3px;
  height: 16px;
  border-radius: 90px;
  opacity: 0.7;
  top: 56px;
  left: 20px;
  gap: 8px;
  outline: none;
  background: none;
  border: none;
  padding: 0;
}
.profile__edit-btn:hover {
  opacity: 100%;
  outline: none;
}
.profile__add-btn {
  cursor: pointer;
  margin-top: auto;
  margin-left: auto;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  background-color: black;
  opacity: 1;
  color: #fcf5e5;
  outline: none;
  border: none;
}
.profile__add-btn:hover {
  background-color: #212121;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  }
  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }
  .profile__name {
    max-width: 288px;
    font-size: 20px;
    margin: 0 0 6px;
  }
  .profile__description {
    max-width: 288px;
    margin: 0 0 32px;
  }
  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    margin: auto;
  }
  .profile__add-btn {
    margin: 0;
    width: 100%;
    gap: 8px;
  }
}
