.footer {
  text-align: center;
}
.footer__copyright {
  margin: 0;
  padding: 60px 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
  opacity: 0.7;
  
}
